<div class="bg-warning text-dark p-3 rounded mb-3">
  <h4 class="m-0 fw-bold">Solicitudes enviadas</h4>
</div>

<div class="p-2">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <!-- <th>id uduario</th> -->
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Estado</th>
        <!-- <th>Tipo</th> -->
        <!-- <th>id Mascota</th> -->
        <th>Nombre Mascota</th>
        <th>Accion</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let solicitud of listaSolicitudes">
        <tr *ngIf="miUsuario.id == solicitud.usuarioID">
          <!-- <td>{{ solicitud.usuarioID }}</td> -->
          <td>{{ solicitud.nombre }}</td>
          <td>{{ solicitud.telefono }}</td>
          <td>{{ solicitud.direccion }}</td>
          <td>
  <span class="badge text-white"
    [ngClass]="{
      'bg-primary': solicitud.estado === 'pendiente',
      'bg-success': solicitud.estado === 'aceptado',
      'bg-danger': solicitud.estado === 'rechazado'
    }">
    {{ solicitud.estado }}
  </span>
</td>
          <!-- <td>{{ solicitud.tipo }}</td> -->
          <!-- <td>{{ solicitud.animalID }}</td> -->
          <td>{{ solicitud.mascota.nombre }}</td>
          <td>
            <a href="#" onclick="return false;" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" (click)="verSolicitud(solicitud)">
              <!--begin::Svg Icon | Icono de ojo para visualizar-->
              <span class="svg-icon svg-icon-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path opacity="0.3" d="M12 5C7 5 2.73 8.11 1 12C2.73 15.89 7 19 12 19C17 19 21.27 15.89 23 12C21.27 8.11 17 5 12 5Z" fill="currentColor"/>
                  <path d="M12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z" fill="currentColor"/>
                </svg>
              </span>
              <!--end::Svg Icon-->
            </a>

            <a href="#" onclick="return false;" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" (click)="editSolicitud(solicitud)">
              <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
              <span class="svg-icon svg-icon-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="currentColor" />
                  <path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="currentColor" />
                </svg>
              </span>
              <!--end::Svg Icon-->
            </a>
            <a href="#" onclick="return false;" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" (click)="deleteSolicitud(solicitud)">
              <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
              <span class="svg-icon svg-icon-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor" />
                  <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor" />
                  <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor" />
                </svg>
              </span>
              <!--end::Svg Icon-->
            </a>
          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>
</div>

<hr>
<hr>

<div class="bg-warning text-dark p-3 rounded mb-3">
  <h4 class="m-0 fw-bold">Solicitudes recibidas</h4>
</div>

<div class="p-2">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <!-- <th>id uduario</th> -->
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Estado</th>
        <!-- <th>Tipo</th> -->
        <!-- <th>id Mascota</th> -->
        <th>Nombre Mascota</th>
        <th>Accion</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let solicitud of listaSolicitudes">
        <tr *ngIf="miUsuario.id != solicitud.usuarioID">
          <!-- <td>{{ solicitud.usuarioID }}</td> -->
          <td>{{ solicitud.nombre }}</td>
          <td>{{ solicitud.telefono }}</td>
          <td>{{ solicitud.direccion }}</td>
          <td>
            <span class="badge text-white"
              [ngClass]="{
                'bg-primary': solicitud.estado === 'pendiente',
                'bg-success': solicitud.estado === 'aceptado',
                'bg-danger': solicitud.estado === 'rechazado'
              }">
              {{ solicitud.estado }}
            </span>
          </td>
          <!-- <td>{{ solicitud.tipo }}</td> -->
          <!-- <td>{{ solicitud.animalID }}</td> -->
          <td>{{ solicitud.mascota.nombre }}</td>
          <td>
            <a href="#" onclick="return false;" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" (click)="verSolicitud(solicitud)">
              <!--begin::Svg Icon | Icono de ojo para visualizar-->
              <span class="svg-icon svg-icon-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path opacity="0.3" d="M12 5C7 5 2.73 8.11 1 12C2.73 15.89 7 19 12 19C17 19 21.27 15.89 23 12C21.27 8.11 17 5 12 5Z" fill="currentColor"/>
                  <path d="M12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z" fill="currentColor"/>
                </svg>
              </span>
              <!--end::Svg Icon-->
            </a>

            <a href="#" onclick="return false;" class="btn btn-icon btn-bg-light btn-active-color-success btn-sm me-1" (click)="aceptarSolicitud(solicitud)">
              <span class="svg-icon svg-icon-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" width="24" viewBox="0 0 24 24">
                  <path d="M9.99999 16.17L5.82999 12L4.40999 13.41L9.99999 19L20 9.00001L18.59 7.59001L9.99999 16.17Z"/>
                </svg>
              </span>
            </a>

            <a href="#" onclick="return false;" class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm" (click)="rechazarSolicitud(solicitud)">
              <span class="svg-icon svg-icon-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" width="24" viewBox="0 0 24 24">
                  <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"/>
                </svg>
              </span>
            </a>


            <a href="#" onclick="return false;" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" (click)="deleteSolicitud(solicitud)">
              <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
              <span class="svg-icon svg-icon-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor" />
                  <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor" />
                  <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor" />
                </svg>
              </span>
              <!--end::Svg Icon-->
            </a>
          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>
</div>

